USE [quanlysachTNMT]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 4/14/2019 9:43:46 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNV] [char](5) NOT NULL,
	[HoLot] [nvarchar](25) NULL,
	[TenNV] [nvarchar](10) NULL,
	[Phai] [nvarchar](3) NULL,
	[NgaySinh] [smalldatetime] NULL,
	[DiaChi] [nvarchar](40) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
